<a href="https://colab.research.google.com/github/thalesz/dash/blob/main/Aula_03_Criando_Tabelas_em_HTML_%2B_CSS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from IPython.display import HTML
table ='''

<h1> Título </h1>
<table> 
  <tr>
    <th>C1</th> #t-header
    <th>C2</th>
  </tr>
  <tr>
    <td>(1,1)</td>
    <td>(1,2)</td>
  </tr>
  <tr>
    <td>(2,1)</td>
    <td>(2,2)</td>
  </tr>

</table>'''

HTML(table)

In [7]:
from IPython.display import HTML

estilo = '''<style>
  th{
    background-color:#55FF33;
  }
  td{
    background-color: #00FFFF;
  }
  h1{
    background-color: #80CED6;
  }
  body{
    margin:10px;
  }

</style>
'''


table =''' 
<h1> Título </h1>  %s
<table> 
  <tr>
    <th>C1</th> 
    <th>C2</th>
  </tr>
  <tr>
    <td>(1,1)</td>
    <td>(1,2)</td>
  </tr>
  <tr>
    <td>(2,1)</td>
    <td>(2,2)</td>
  </tr>

</table>'''

whole = table % estilo
HTML(whole)